
@import 'reset.css';

@font-face {
    font-family: "Arial";
    src: url("Arial_Regular.otf") format("opentype");
   }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    background-color: #F8F9FB;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling:touch;
    scroll-behavior: auto;
}
.promo {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/promo.jpg");
    background-position: center;
}

.promo_content {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    height: 93vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.promo_content h1 {
    font-weight: 400;
    font-size: 90px;
    line-height: 95%;
    text-align: center;
    letter-spacing: -0.05em;
}
.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 93vw;
}

h1, h2, p, a {
    color: #2E54A9;
    font-family: 'Arial';
    font-style: normal;
}

a {
    text-decoration: none;
}

h2 {
    font-weight: 400;
    font-size: 60px;
    line-height: 95%;
    text-align: center;
    letter-spacing: -0.05em;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;
    gap: 150px;
}

.projects .project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.projects .project .text_project {
    width: 93vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.projects .project .text_project div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 100px;
}

.projects .project .text_project h1 {
    font-weight: 400;
    font-size: 60px;
    line-height: 95%;
    letter-spacing: -0.05em;
}

.projects .project .text_project div h1 {
    width: 26vw;
}

.projects .project .text_project div p {
    width: 40vw;
}

.projects .project .text_project p {
    width: 465px;
    font-weight: 400;
    font-size: 25px;
    line-height: 95%;
    letter-spacing: -0.05em;
}

.projects .project img {
    width: 93vw;
    border-radius: 25px;
    height: 75vh;
    object-fit: cover;
    /* -webkit-filter: blur(10px);
    filter: blur(10px); */
}

.text_project a:hover, .contacts h2 a:hover, .back_button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.projects .project img:hover {
    /* filter: blur(0px); */
}

.about {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/about.jpg");
    background-size: cover;
    background-position: center;
    padding: 50px;
    gap: 60px;
}

.about h1 {
    font-weight: 400;
    font-size: 50px;
    line-height: 95%;
    letter-spacing: -0.05em;
    width: 85vw;
}

.about div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 100px;
}

.about div section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.about div section div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.about div section h2, .about div section p {
    font-weight: 400;
    font-size: 25px;
    line-height: 95%;
    text-align: right;
    letter-spacing: -0.05em;
}


.back_button {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 95%;
    letter-spacing: -0.05em;
    margin-top: 20px;
    margin-left: 57px;
    margin-bottom: 70px;
}

.text_about {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0px 57px;
}

.project_settings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;
    width: 45vw;
}

.what_and_text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.what_setting {
    width: 9vw;
}

.what_setting, .text_setting {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
}

.what_setting p {
    opacity: 0.4;
}

.project_settings p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 95%;
    letter-spacing: -0.05em;
}

.project_info {
    width: 55vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;
}

.project_info h1 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 95%;
    letter-spacing: -0.05em;
}

.project_info h2 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 95%;
    letter-spacing: -0.05em;
    text-align: start;
}

.info_block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 34px;
}

.more_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
}

.what_info {
    width: 30%;
    opacity: 0.4;
}

.text_info {
    width: 70%;
}

.more_info p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 95%;
    letter-spacing: -0.05em;
}

.images_block img {
    width: 100vw;
    margin: 70px 0px;
}

.scroll_block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin: 0px 57px;
    gap: 48px;
}

.text_content {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 40px;
    gap: 24px;
    width: 25vw;
}

.text_content p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 95%;
    letter-spacing: -0.05em;
}

.images_content {
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.images_content img, .images_content div {
    width: 100%;
}

.links_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 57px;
}

.back_button_bottom {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 95%;
    letter-spacing: -0.05em;
}


@media (max-width: 1024px) {
    .promo {
        background-position: 30% 70%;
    }

    .contacts {
        flex-direction: column;
        gap: 20px;
    }

    .contacts h2 {
        font-size: 34px;
    }
    
    .promo_content h1 {
        font-size: 40px;
    }

    .projects .project .text_project div {
        flex-direction: column;
        gap: 16px;
    }

    .projects .project .text_project {
        gap: 30px;
        
    }

    .projects .project .text_project h1, .back_button, .project_info h1, .back_button_bottom a {
        font-size: 30px;
    }

    .projects .project .text_project div p {
        width: 220px;
    }

    .project_name {
        width: 100%;
        font-size: 40px !important;
    }

    .projects .project .text_project p, .project_info h2, .text_content p, .back_button_bottom {
        font-size: 20px;
    }

    .projects .project .text_project p {
        width: 220px;
    }

    .project img {
        height: 65vh;
        object-fit: cover;
    }

    .projects {
        gap: 50px;
    }

    .what_setting {
        width: 15vw;
    }

    .about h1 {
        font-size: 40px;
        width: 90vw;
        line-height: 100%;
    }

    .about div {
        flex-direction: column;
        gap: 40px;
    }

    .about div section h2, .about div section p {
        text-align: left;
        font-size: 20px;
    }

    .about {
        height: 100%;
        padding: 30px;
    }

    .about div section {
        gap: 15px;
    }

    .text_about {
        flex-direction: column;
    }
    .project_settings, .project_info {
        width: 100%;
    }

    .more_info p, .project_settings p {
        font-size: 14px;
    }

    .project_info {
        gap: 20px;
    }

    .project_settings {
        padding-bottom: 40px;
    }

    .text_about, .scroll_block {
        margin: 0px 18px;
    }

    .links_bottom, .back_button  {
        margin: 18px 18px;
    }

    .scroll_block, .text_content, .images_content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text_content, .images_content {
        width: 85vw;
    }

    .text_content {
        position: relative;
    }

    .more_info {
        flex-direction: column;
    }

    .project_info h2 {
        width: 80vw;
    }
    
    .text_info {
        width: 100%;
    }

    .back_button_bottom {
        padding: 20px 0px;
    }

    .more_info {
        gap: 10px;
    }
    .scroll_block {
        gap: 80px;
    }

}