
@import 'reset.css';

@font-face {
    font-family: "Arial";
    src: url("Arial_Regular.otf") format("opentype");
   }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    background-color: #F8F9FB;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling:touch;
    scroll-behavior: auto;
}
.promo {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/promo.jpg");
    background-position: center;
}

.promo_content {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    height: 93vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.promo_content h1 {
    font-weight: 400;
    font-size: 90px;
    line-height: 95%;
    text-align: center;
    letter-spacing: -0.05em;
}
.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 93vw;
}

h1, h2, p, a {
    color: #2E54A9;
    font-family: 'Arial';
    font-style: normal;
}

a {
    text-decoration: none;
}

h2 {
    font-weight: 400;
    font-size: 60px;
    line-height: 95%;
    text-align: center;
    letter-spacing: -0.05em;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;
    gap: 150px;
}

.projects .project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.projects .project .text_project {
    width: 93vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.projects .project .text_project div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 100px;
}

.projects .project .text_project h1 {
    font-weight: 400;
    font-size: 60px;
    line-height: 95%;
    letter-spacing: -0.05em;
}
.project_name {
}

.projects .project .text_project p {
    width: 465px;
    font-weight: 400;
    font-size: 25px;
    line-height: 95%;
    letter-spacing: -0.05em;
}

.projects .project img {
    width: 93vw;
    border-radius: 25px;
    height: 75vh;
    object-fit: cover;
    /* -webkit-filter: blur(10px);
    filter: blur(10px); */
}

.text_project h1:hover, .contacts h2 a:hover {
    opacity: 0.8;
    cursor: pointer;
}

.projects .project img:hover {
    /* filter: blur(0px); */
}

.about {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/about.jpg");
    background-size: cover;
    background-position: center;
    padding: 50px;
    gap: 60px;
}

.about h1 {
    font-weight: 400;
    font-size: 60px;
    line-height: 95%;
    letter-spacing: -0.05em;
    width: 800px;
}

.about div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 100px;
}

.about div section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.about div section div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.about div section h2, .about div section p {
    font-weight: 400;
    font-size: 25px;
    line-height: 95%;
    text-align: right;
    letter-spacing: -0.05em;
}


@media (max-width: 1024px) {
    .promo {
        background-position: 30% 70%;
    }

    .contacts {
        flex-direction: column;
        gap: 20px;
    }

    .contacts h2 {
        font-size: 34px;
    }
    
    .promo_content h1 {
        font-size: 40px;
    }

    .projects .project .text_project div {
        flex-direction: column;
        gap: 16px;
    }

    .projects .project .text_project {
        gap: 30px;
        
    }

    .projects .project .text_project h1 {
        font-size: 30px;
    }

    .projects .project .text_project div p {
        width: 220px;
    }

    .project_name {
        width: 100%;
        font-size: 40px !important;
    }

    .projects .project .text_project p {
        font-size: 20px;
        width: 220px;
    }

    .project img {
        height: 65vh;
        object-fit: cover;
    }

    .projects {
        gap: 50px;
    }

    .about h1 {
        font-size: 40px;
        width: 80vw;
        line-height: 100%;
    }

    .about div {
        flex-direction: column;
        gap: 40px;
    }

    .about div section h2, .about div section p {
        text-align: left;
        font-size: 20px;
    }

    .about {
        height: 100%;
        padding: 30px;
    }

    .about div section {
        gap: 15px;
    }


}